---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog', ({ data }) => {
	// 開発環境では未公開記事も表示
	if (import.meta.env.DEV) return true;
	return data.published !== false;
}))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={post.data.permalink}>
							<span class="date">
								<FormattedDate date={post.data.date} />
							</span>
							<h3 class="title">{post.data.title}</h3>
							{post.data.description && (
								<p class="description">{post.data.description}</p>
							)}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>

<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		border-bottom: 1px solid rgb(var(--border));
	}
	ul li:last-child {
		border-bottom: none;
	}
	ul li a {
		display: block;
		padding: 1em 0;
		text-decoration: none;
		transition: opacity 0.15s;
	}
	ul li a:hover {
		opacity: 0.7;
		text-decoration: none;
	}
	.date {
		font-size: 0.8em;
		color: rgb(var(--gray));
	}
	.title {
		margin: 0.2em 0 0 0;
		font-size: 1.1em;
		font-weight: 600;
		color: rgb(var(--black));
		line-height: 1.5;
	}
	.description {
		margin: 0.3em 0 0 0;
		font-size: 0.85em;
		color: rgb(var(--gray));
		line-height: 1.6;
	}
</style>
